.main-card {
  position: relative;
  display: flex;
  align-items: center;
}
.image {
  width: 100%;
}

.content a {
  font-family: "Raleway", serif;
  font-weight: 400;
  color: #3c5b6f;
  font-size: 20px;
}
