@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Lustria&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  color: #0d1b2a;
  font-family: "Lusitana", serif;
  margin: 10px 15px 0 15px;
}

h1 {
  font-family: "Lusitana", serif;
  color: #0d1b2a;
}

hr {
  border: 2px solid #415a77;
  width: 100vw;
  position: relative;
  /* left: -15px; */
}

.cards {
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin: 10px 15px 0 15px;
}
.showcase {
  width: 90vw;
  display: block;
  margin-right: 10px;
  height: auto;
}
.showcase:last-child {
  margin-right: 0;
}
.heroImage {
  width: 90vw;
  height: auto;
}
