@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  color: #153448;
  font-family: "Merriweather", serif;
}
.menu-card {
  display: flex;
  justify-content: center;
}
.items {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
  color: #153448;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #3c5b6f;
}

hr {
  border: 3px solid #415a77;
  width: 100%;
  position: relative;
}
.title {
  cursor: default;
}

.main-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid #6d8095; */
}

.cards {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.card-image {
  height: 300px;
  width: 100%;
}

.showcase:last-child {
  margin-right: 0;
}

.feedBox {
  display: flex;
}
.arts {
  margin: 20px 0;
  padding: 2px 1px 2px 5px;
  /* border: 1px solid #6d8095; */
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.gen {
  width: 47%;
  background-color: #153448;
  color: #e5e7eb;
  margin: 5px;
  height: 12vh;
  align-content: center;
  /* border: solid 2px #415a77; */
  cursor: pointer;
  font-size: 28px;
  font-weight: 500;
}
.gen:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

footer {
  background-color: #153448;
}
.footer {
  display: flex;
}
.logo {
  width: 30%;
  font-family: "Merriweather", sans-serif;
  margin: 10px 0;
  cursor: pointer;
}
.tabs {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.tab {
  margin: 10px 0;
  padding: 0 25px;
  color: #e5e7eb;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  cursor: pointer;
}
.tab:last-child {
  padding-right: 0;
}

.cred {
  padding: 5px 0;
  color: #4c618c;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}
