@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Lustria&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  color: #153448;
  font-family: "Lusitana", serif;
  margin: 5px 15px 0 15px;
}
.items {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lusitana", serif;
  color: #153448;
  cursor: default;
}
p {
  font-family: "Raleway", serif;
  font-weight: 400;
  color: #3c5b6f;
}

hr {
  border: 3px solid #415a77;
  width: 100%;
  position: relative;
  /* left: -15px; */
}

.main-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  /* overflow: auto; */
  margin: 10px 15px 0 15px;
}
.card-image {
  height: 300px;
  width: 100%;
}

.showcase:last-child {
  margin-right: 0;
}

.feedBox {
  display: flex;
}
.arts {
  margin: 20px 0;
  padding: 2px 1px 2px 5px;
  border: 2px solid #415a77;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.gen {
  width: 47%;
  color: #415a77;
  margin: 5px;
  height: 12vh;
  align-content: center;
  border: solid 2px #415a77;
  cursor: pointer;
  font-size: 28px;
  font-weight: 500;
}

footer {
  background-color: #153448;
}
.footer {
  display: flex;
}
.logo {
  width: 30%;
  font-family: "Lustria", serif;
  margin: 10px 0;
  cursor: pointer;
}
.tabs {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.tab {
  margin: 10px 0;
  padding: 0 10px;
  color: antiquewhite;
  font-family: "Raleway", serif;
  font-size: 24px;
  cursor: pointer;
}

.cred {
  padding: 10px 0;
  color: antiquewhite;
  font-family: "Raleway", serif;
  cursor: default;
}
